<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_challge.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,410},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,304},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,198},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>guide_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{184,382}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,382}}</string>
                <key>sourceSize</key>
                <string>{188,386}</string>
            </dict>
            <key>guide_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,198},{310,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,390}}</string>
                <key>sourceSize</key>
                <string>{310,390}</string>
            </dict>
            <key>guide_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{464,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,194}}</string>
                <key>sourceSize</key>
                <string>{464,194}</string>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{80,314}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,314}}</string>
                <key>sourceSize</key>
                <string>{80,324}</string>
            </dict>
            <key>icon_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,942},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>item1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,738},{68,248}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,27},{68,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,738},{68,248}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,26},{68,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{104,154}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,139},{104,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,738},{104,202}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,91},{104,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,738},{66,140}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,132},{66,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,942},{70,192}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,86},{70,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,464},{72,270}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,13},{72,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,538},{198,260}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{198,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>stageLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,278},{368,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,107}}</string>
                <key>sourceSize</key>
                <string>{368,107}</string>
            </dict>
            <key>sum_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,274}}</string>
                <key>sourceSize</key>
                <string>{494,274}</string>
            </dict>
            <key>video.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,648},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameRes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b36736c04ffbb52753d3db03a632df$</string>
            <key>textureFileName</key>
            <string>gameRes.png</string>
        </dict>
    </dict>
</plist>
