<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{173,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{173,109}}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>cat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{157,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{157,109}}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>cat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{171,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,109}}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,160},{163,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,70}}</string>
                <key>sourceSize</key>
                <string>{165,70}</string>
            </dict>
            <key>logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{609,149}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{609,149}}</string>
                <key>sourceSize</key>
                <string>{657,197}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,325},{145,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,49}}</string>
                <key>sourceSize</key>
                <string>{145,49}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,53},{48,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,61},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,49}}</string>
                <key>sourceSize</key>
                <string>{199,49}</string>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameRes.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1afdb8f64d223ca1b16bd681faa779a3$</string>
            <key>textureFileName</key>
            <string>gameRes.png</string>
        </dict>
    </dict>
</plist>
