<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,121},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,397},{175,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,109}}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>cat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,397},{175,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,109}}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>cat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,397},{175,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,109}}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{165,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,70}}</string>
                <key>sourceSize</key>
                <string>{165,70}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,193},{391,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,99}}</string>
                <key>sourceSize</key>
                <string>{391,99}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{77,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,109}}</string>
                <key>sourceSize</key>
                <string>{77,109}</string>
            </dict>
            <key>guideStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{382,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,42}}</string>
                <key>sourceSize</key>
                <string>{382,42}</string>
            </dict>
            <key>guideTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{700,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,401}}</string>
                <key>sourceSize</key>
                <string>{700,401}</string>
            </dict>
            <key>logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{657,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,197}}</string>
                <key>sourceSize</key>
                <string>{657,197}</string>
            </dict>
            <key>newrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,54},{243,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,58}}</string>
                <key>sourceSize</key>
                <string>{243,58}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{145,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,49}}</string>
                <key>sourceSize</key>
                <string>{145,49}</string>
            </dict>
            <key>rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,54},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,397},{303,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,117}}</string>
                <key>sourceSize</key>
                <string>{303,117}</string>
            </dict>
            <key>score_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,295},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>score_again_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,295},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>score_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{133,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,57}}</string>
                <key>sourceSize</key>
                <string>{133,57}</string>
            </dict>
            <key>score_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,295},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>score_rank_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>score_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,54},{139,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,59}}</string>
                <key>sourceSize</key>
                <string>{139,59}</string>
            </dict>
            <key>score_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,295},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>score_share_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,193},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{199,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,49}}</string>
                <key>sourceSize</key>
                <string>{199,49}</string>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,54},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,57}</string>
            </dict>
            <key>sumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{688,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,69}}</string>
                <key>sourceSize</key>
                <string>{688,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameRes.png</string>
            <key>size</key>
            <string>{917,1118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:964a7e574bb26f000955f41b784dbd98$</string>
            <key>textureFileName</key>
            <string>gameRes.png</string>
        </dict>
    </dict>
</plist>
