<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WCoin_test.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,491},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>achievement_PB.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,201},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{567,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,100}}</string>
                <key>sourceSize</key>
                <string>{567,100}</string>
            </dict>
            <key>cat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{175,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,109}}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>cat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,62},{175,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,109}}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>cat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{175,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,109}}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>cat_fish_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,284},{174,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,109}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>cat_fish_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,405},{174,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,109}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>cat_fish_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,405},{174,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,109}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>cat_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,458},{174,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,109}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>cat_white_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,347},{174,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,109}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>cat_white_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,62},{174,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,109}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,173},{165,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,70}}</string>
                <key>sourceSize</key>
                <string>{165,70}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,284},{77,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,109}}</string>
                <key>sourceSize</key>
                <string>{77,109}</string>
            </dict>
            <key>guideStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{382,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,42}}</string>
                <key>sourceSize</key>
                <string>{382,42}</string>
            </dict>
            <key>logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{657,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,197}}</string>
                <key>sourceSize</key>
                <string>{657,197}</string>
            </dict>
            <key>main.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,405},{179,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,100}}</string>
                <key>sourceSize</key>
                <string>{179,100}</string>
            </dict>
            <key>main_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,405},{179,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,100}}</string>
                <key>sourceSize</key>
                <string>{179,100}</string>
            </dict>
            <key>newrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{243,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,58}}</string>
                <key>sourceSize</key>
                <string>{243,58}</string>
            </dict>
            <key>rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,491},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>score_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,395},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>score_again_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,303},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>score_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,173},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>score_rank_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,303},{180,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>shopItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,443},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>shopItem_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>shopItem_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,395},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>shopItem_used_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,245},{151,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,37}}</string>
                <key>sourceSize</key>
                <string>{151,37}</string>
            </dict>
            <key>shopItem_used_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,545},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,57}</string>
            </dict>
            <key>sumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,347},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameRes.png</string>
            <key>size</key>
            <string>{1014,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22d73ffe604440d29516de225f43403f$</string>
            <key>textureFileName</key>
            <string>gameRes.png</string>
        </dict>
    </dict>
</plist>
